body {
  min-width: 1070px;
  margin: 0;
  padding: 20px;
  font-family: Georgia,serif;
}

h3 {
  font-size: 22px;
  padding: 2px;
  font-family: Georgia,serif;
  line-height: 26px;
  font-weight: normal;
}

p {
  font-size: 14px;
  padding: 2px;
  line-height: 18px;
}

.clear {
  clear: both;
}

.content {
  width: 100%;
}

.links {
  top: 30px;
  position: relative;
  float: left;
}

.column_left {
  margin: 0 10px;
  position: relative;
  width: 47%;
  float: left;
}

.column_right {
  margin: 0 10px;
  margin-top: -15px;
  position: relative;
  float: right;
  width: 47%;
}

.odd {
  font-weight: bold;
}

.pair {
  font-weight: normal;
}

.right_button_edit {
  position: absolute;
  top: 90px;
  right: 250px;
}

.links {
  top:30px;
  position:relative;
}

.errorlist {
  color: red;
}

.right_table {
  position: relative;
  float: left;
  width: 340px;
  text-align: center;
}

.left_table {
  position: relative;
  float: left;
  width: 370px;
  text-align: center;
}

.spinner {
  display: none;
  position: relative;
}
